html 
    head 
        title= title
    body 
        h1=message
            table 
                tr 
                    th= domainN
                    th= type_compteN
                    th= tvaN
                    th= team_sizeN
                    th= team_nameN
                    th= sirretN
                    th= form_juridiqueN
                    th= email_contactN
                    th= description_activityN
                    th= adressN
                    th= zipN
                tr 
                    td= domain
                    td= type_compte
                    td= tva
                    td= team_size
                    td= team_name
                    td= sirret
                    td= form_juridique
                    td= email_contact
                    td= description_activity
                    td= adress
                    td= zip